---
---

*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.content
    width: 1280px
    display: block
    margin: 0 auto
    padding: 20px 52px

.clearfix:after
    content: ""
    display: table
    clear: both


@import vars
@import header
@import work