---
---
//Setup
@import bourbon/bourbon
@import neat/neat
@import normalize

//set up the custom League Spartan bold font used in the section headings
@include font-face("leaguespartan-bold", "fonts/leaguespartan-bold-webfont")

//max-width used by neat
$max-width: em(1280px)

//fonts
$section-heading: "leaguespartan-bold", "Impact", sans-serif
$heading: "Oswald", "Helvetica", sans-serif
$paragraph: "Lato", "Georgia", serif

//colors
$font-gray: #313131
$section-bg: #f4f4f4
$main: #ec008c
$main-dark: #691e49



@import landing