<footer>

  <div class="content clearfix">

    <div id="contact">
      <h2>Contact</h2>

      <form class="clearfix" action="//formspree.io/deeppatel1@outlook.com" method="POST">
        <input type="text" placeholder="Your Name" name="name">
        <input type="email" placeholder="Your Email" name="_replyto">
        <textarea type="text" placeholder="Your Message"></textarea>
        <input type="submit" value="Send" class="button">
      </form>
    </div>

    <div id="about">
      <h2>About</h2>
      <p class="about-info">I'm an aspiring web developer who enjoys all things web related. Right now, I am working on completing my college degree, but I still do programming and web development projects on the side. I am also active in the android theming community and I like to write about it. You can find me on:</p>
    </div>
    
    <div class="social">
      <h2>Social Media</h2>
      <a href="http://github.com/omegadeep10">GitHub</a>
      <a href="http://reddit.com/u/omegadeep10">Reddit</a>

      <span class="copyright">&copy; Deep Patel 2015 - All Rights Reserved</span>
    </div>


  </div>
</footer>