<!--Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="{{ site.description }}">
<title>{{ page.title }}</title>



<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">



<!--External Assets-->
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Abel|Marvel|Cardo' rel='stylesheet' type='text/css'>


<script async src="/js/smoothscroll.js"></script>
<script async src="/js/lazysizes.min.js"></script>

<!-- Script to provide stick nav -->
<script>
    function stickyNav() {
    var nav = document.querySelector(".nav"); //nav bar
    var header = document.querySelector(".header");  //header ("Hi I'm..." part)
    if (window.scrollY < 50) { //check if the page has been scrolled LESS than 50px
        nav.setAttribute("class", "nav"); //make nav class = "nav"
        header.style.marginTop = "150px"; //set header's margin-top to 150px
    }
    else {
        nav.setAttribute("class", "nav fixed"); //set nav class = "nav fixed"
        header.style.marginTop = "240px"; //set header margin-top to 240px so it doesn't jump when the nav element changes to position: fixed
    }
}


    //don't do anything JS wise until DOM has been loaded
    document.addEventListener("DOMContentLoaded", function() {
    
        document.addEventListener("scroll", stickyNav, false); //add event listener to DOM for scroll

    }, false);
</script>

<!-- Styles inlined from style.sass -->
<style type="text/css">

h1 {
    font-family: $serif
    font-size: 3.7em
    font-weight: normal
    margin-bottom: 40px
}

.header-subtitle {
    font-family: $marvel
    font-size: 2em
    @include animation-delay(.5s)
}

.nav ul
    float: right
    margin-top: 40px

.nav ul li
    list-style: none
    display: inline-block
    font-family: $abel
    font-size: 1.3em
    margin-right: 25px

.nav.fixed
    position: fixed
    z-index: 2
    width: 100%
    background-color: white
    box-shadow: #666 0px -3px 10px

.nav.fixed ul {
    margin-top: 0
}

.nav.fixed ul li {
    font-size: 1.1em
}

.header {
    float: left
    max-width: 750px
    margin: 150px 0 230px 170px
}

.header a {
    border-bottom: 1px solid black
}

.header a:hover {
    border-bottom: 1px solid $link-hover
}
</style>