<!--NOTE: The home page uses an alternate navigation
    system. This navigation is used by pages that show
    my work. Articles MAY use their own navigation system-->

<nav class="alternate-nav">
  <div class="wrap">
    <span class="section-heading">{{ page.type }}</span>
    
    <span class="breadcrumb"> <a href="/">{{ site.title }}</a> <span>//</span> <a href=" {{ page.url }}">{{ page.title }}</a></span>
    <span id="open-menu" class="menu-icon">☰</span>

    <div id="menu" class="container">
        <span id="close-menu" class="menu-close">✕</span>
        <ul id="menu-container">
            <li class="mobile-only"><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/work/">Work</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
  </div>
</nav>