<!--NOTE: The home page uses an alternate navigation
    system. This navigation is used by pages that show
    my work. Articles use their own navigation system-->

<nav class="alternate-nav">
  <div class="wrap">
    <span class="breadcrumb"> <a href="/">{{ site.title }}</a> <span>//</span> <a href=" {{ page.url }}">{{ page.title }}</a></span>

    <span class="section-heading">Project</span>
    
    <div class="container">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>
  </div>
</nav>