//List of Posts page
#posts
    padding: 20px 0

//Actual Blog Post formatting
.blog-page
    .blog-post  
        float: left
        max-width: 750px
        margin: 0 0 40px 170px

    h2
        font-size: 2.5em

    h3
        color: black
        font-size: 2.0em
        padding: 20px 0 0 0

        &:after
            width: 100%
            margin: 20px auto 0 auto

    p
        font-family: $serif
        font-size: 1.3em
        line-height: 1.5em
        margin: 25px 0

    ul
        margin-left: 25px

        li
            margin: 30px 0
            list-style: none

        .bold
            font-size: 1.5em
            font-weight: bold
        
        p
            margin: 7px 0

    .page-nav
        @extend .blog-post
        margin-bottom: 250px
        width: 100%
        border-top: 1px solid black
        padding: 30px 0

        a
            font-family: $marvel
            font-size: 1.3em
            margin-bottom: 100px

        .next
            float: right
            text-align: right
            max-width: 33%

        .prev
            float: left
            text-align: left
            max-width:  33%