#blog
    padding-bottom: 120px
    
    .heading
        margin-top: 30px
    
    .blog-post
        margin-bottom: 26px
    
    #triangle-right
        width: 0
        height: 0
        border-top: 7px solid transparent
        border-left: 12px solid black
        border-bottom: 7px solid transparent
        
        vertical-align: top
        margin-top: 7px
        float: left

    .post
        display: block
        margin-left: 40px
        font-family: $heading

        .post-title
            font-size: 1.4em
            text-decoration: none
            color: black
            @include transition(all .3s ease-in-out)

            &:hover
                color: $link-hover

        .post-info
            font-size: 1em
            color: $post-info
            margin-top: 4px

    .button
        margin-top: 10px
        float: right