
.nav

    ul
        float: right
        margin-top: 40px

        li
            list-style: none
            display: inline-block
            font-family: $abel
            font-size: 1.3em
            margin-right: 25px
            
            a
                text-decoration: none
                color: black
                @include transition(all .3s ease-in-out)

                &:hover
                    color: $link-hover

.nav.fixed
    position: fixed
    box-shadow: #666 0px -5px 10px
    width: 100%
    background-color: white
    z-index: 2

    ul
        margin-top: 0

        li
            font-size: 1.1em



.header
    float: left
    max-width: 750px
    margin: 150px 0 230px 170px
    
    h1
        margin-bottom: 41px

    .subtitle
        font-family: $marvel
        font-size: 2em