
.nav

    ul
        float: right
        margin-top: 40px

        li
            list-style: none
            display: inline-block
            font-family: $heading
            font-size: 1.3em
            margin-right: 25px
            
            a
                text-decoration: none
                color: black

                &:hover
                    color: $link-hover



.header
    float: left
    max-width: 750px
    margin: 150px 0 230px 170px
    
    h1
        font-family: $heading
        font-weight: normal
        font-size: 3.7em
        margin-bottom: 41px

    .subtitle
        font-family: $paragraph
        font-size: 2em