//Defining background images/colors of each section
.swords
    background-color: #440e62
    background-image: url("/assets/landing/sword-home.png")

.tic-tac-toe
    background-color: #001c23
    background-image: url("/assets/landing/tictactoe.png")

.calculator
    background-color: #292929
    background-image: url("/assets/landing/calc.png")




//ABOUT SECTION
.about
    background-color: $section-bg
    position: relative

    h1
        font-family: $heading
        font-size: em(40px)
        font-weight: normal
        color: $font-gray

        +large-phone
            font-size: em(50px)

        +desktop
            font-size: em(60px)

        //light purple rectangle
        &:after
            content: ""
            position: absolute
            bottom: 0
            left: em(17px)
            width: em(35px)
            height: em(110px)
            background-color: $main
            opacity: .05

            +large-phone
                width: em(2px)
                opacity: 1
                left: 0
                height: 100%

            +desktop
                width: em(1.5px)
    
    p
        max-width: em(400px)

        +large-phone
            max-width: em(350px)

        +desktop
            max-width: em(400px)
    
    .description
        padding: em(110px) 0 em(25px) 0
        animation: fadeInLeft .4s ease

        +large-phone
            position: relative
            padding: 0 em(20px) 0 em(50px)
            margin: em(160px) 0 em(75px) 0

        +desktop
            margin: em(100px) 0 em(400px) 0
    
    //navigation positioning & styling
    nav
        float: right
        margin-top: em(12px)
        margin-right: em(5px)
        //keep it above section heading ("ABOUT ME")
        position: relative
        z-index: 1

        +large-phone
            margin: em(20px) em(25px) 0 0

        +desktop
            margin: em(25px) em(30px) 0 0

    .graphs
        position: absolute
        bottom: -4px
        right: 0
        z-index: 0
        display: none

        +desktop
            display: block

    .graph-item
        display: inline-block
        margin-right: 40px
        width: 100px
        background-color: #e1e1e1
        position: relative
        +transition(background-color, .3s, ease-in)

        &:hover
            background-color: $main

        &:after
            content: attr(data-tooltip)
            position: absolute
            background-color: $main-dark
            display: inline
            text-align: center
            color: white
            right: 20%
            font-family: $paragraph
            text-transform: uppercase
            white-space: nowrap
            z-index: 2
            top: 20px
            padding: em(10px) em(20px)
            font-size: em(14px)
            visibility: hidden
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .3)

        &:hover:after
            visibility: visible











//THE PORTFOLIO ITEM SECTIONS
.portfolio-item
    position: relative
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

    +large-tablet
        background-image: none

    h2
        font-family: $heading
        font-weight: normal
        color: white
        font-size: em(20px)

        +large-phone
            font-size: em(30px)

        +desktop
            font-size: em(35px)

        &:after
            content: ""
            background-color: $main
            width: em(75px)
            height: 3px
            display: block
            margin-top: em(20px)
            margin-bottom: em(20px)

            +large-phone
                width: em(150px)
                margin: em(16px) 0 em(16px) 0

    .wrap
        position: relative
        z-index: 2

    .section-heading
        color: white
        opacity: .2

    .description-container
        padding: em(75px) 0
        +outer-container

    .description
        opacity: 0

        +large-tablet
            +span-columns(6)
            +shift(1)

            h2
                margin-top: 0

        +desktop

            h2
                margin-top: em(20px)
    
    .portfolio-image
        display: none
        box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.32)

        +large-tablet
            +span-columns(5)

    p
        color: white
        font-size: em(15px)
        line-height: em(24px)
        max-width: em(450px)

        +large-phone
            font-size: em(18px)
            line-height: em(26px)

    .button
        margin-top: em(20px)


    &:after
        content: ""
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: 1
        background-color: rgba(0, 0, 0, .75)

        +large-tablet
            display: none



















//VIEW ALL PROJECTS SECTION
.view-all
    background-color: $main-dark
    padding: em(30px)
    text-align: center

    span
        color: white
        font-family: $heading
        font-size: em(25px)
        margin-right: em(20px)
        position: relative
        top: em(3px)
        display: none

        +tablet
            display: inline

    +desktop
        padding: em(50px)



















//BLOG SECTION
.blog
    background-color: $section-bg

    +tablet
        padding-bottom: em(65px)

    h2
        font-family: $heading
        font-weight: normal
        color: $font-gray
        font-size: em(20px)

        +large-phone
            font-size: em(30px)

        +desktop
            font-size: em(35px)

        &:after
            content: ""
            background-color: $main
            width: em(80px)
            height: 3px
            display: block
            margin-top: em(20px)
            margin-bottom: em(20px)

            +large-phone
                width: em(150px)
                margin: em(16px) 0 em(16px) 0

    .articles
        padding: em(5px) 0 em(20px) 0

        +tablet
            margin-top: em(30px)
            +span-columns(6)

            .button
                display: none

        +desktop
            +span-columns(5)

    .section-desc
        display: none
        padding-left: em(20px)

        p
            font-size: em(18px)

        +tablet
            margin-top: em(100px)
            +span-columns(6)

    h3
        font-family: $section-heading
        font-weight: normal
        text-transform: uppercase
        color: $font-gray
        font-size: em(20px)

        &:after
            content: ""
            background-color: $main
            width: em(75px)
            height: 3px
            display: block
            margin-top: em(20px)
            margin-bottom: em(25px)

    .article-link
        display: block
        text-decoration: none
        font-family: $paragraph
        color: $font-gray
        padding: em(16px) 0
        font-size: em(16px)

        &:hover
            color: $main

        +large-phone
            font-size: em(17px)

        +desktop
            font-size: em(20px)

    .button
        margin-top: em(30px)
