
@media (max-width: 1020px)
    .header
        float: right
        margin-left: 0
    
    .work

        .col-1
            width: 49%

        .col-2
            width: 99%



@media (max-width: 700px)
    .header
        margin-top: 120px
        margin-bottom: 170px
        
        h1
            font-size: 3em

        .subtitle
            font-size: 1.5em




@media (max-width: 650px)    
    .work
        
        .grid-item
            float: none

        .col-1
            width: 99%
            height: 300px

        .col-2, .col-3
            width: 99%
            height: auto



@media (max-width: 435px)
    .content
        padding: 20px 30px

    .nav ul
        margin-top: 20px

        li
            font-size: 1.1em
    
    .header
        margin-top: 80px
        margin-bottom: 150px
        
        h1
            font-size: 2.2em
            margin-bottom: 35px

        .subtitle
            font-size: 1.4em