@media (max-width: 1020px)
    .header
        float: right
        margin-left: 0



@media (max-width: 900px)
    .col-1
        width: 49%

    .col-2
        width: 99%
    
    #img-container

        .grid-item
            margin-top: 0
        
        .info
            position: static 
            opacity: 1.0
            background: white
            display: block
            margin-top: -5px
            height: 160px
            padding: 0 20px 0 20px

            h3
                padding-top: 10px
                color: black

                &:after
                    width: 25px

            .subtitle
                color: rgba(0, 0, 0, .8)



@media (max-width: 800px)
    footer
        .content
            padding: 0 20%

            #contact
                float: none
                display: block
                margin: 0 auto

                textarea
                    width: 100%

            #about
                float: none
                margin: 40px auto 0 auto
                width: auto
                margin-bottom: 30px



@media (max-width: 700px)
    .header
        margin-top: 120px
        margin-bottom: 170px

    h1
        font-size: 3em

    .header-subtitle
        font-size: 1.5em


@media (max-width: 650px)
    h2
        font-size: 1.5em

    .content
        padding: 20px 30px

    #work
        padding: 30px 0 50px 0

        .grid-item
            height: 250px

            .info
                padding-top: 70px

    #blog
        padding: 30px 0 20px 0

        .post-title
            font-size: 1.1em

        .post-info
            font-size: .8em

        #triangle-right
            border-top: 5px solid transparent
            border-left: 9px solid black
            border-bottom: 5px solid transparent

        .post
            margin-left: 25px
            margin-bottom: 30px



@media (max-width: 500px)
    .col-1
        width: 99%


    #work
        .grid-item.col-1
            height: 250px
            margin-top: -5px

        .grid-item.col-2, .grid-item.col-3
            height: auto
            margin-top: -5px

    #img-container
        .info
            height: auto
            padding: 10px 15px 25px 15px
            margin-bottom: 20px

    .nav ul
        margin-top: 20px

        li
            font-size: 1.1em
            margin-right: 20px
    
    .header
        margin-top: 80px
        margin-bottom: 150px
        
    h1
        font-size: 2em
        margin-bottom: 25px

    .header-subtitle
        font-size: 1.2em
    
    footer
        .content
            padding: 0 10%