
#img-container
    background: #ebebeb
    display: block
    
    .content
        padding: 100px 52px

    .grid-item
        float: left
        position: relative
        margin-top: -5px
        @include transition(all .3s ease-in-out)

        &:hover
            z-index: 1
            @include transform(scale(1.03))
            box-shadow: #444 0px 3px 10px

        img
            width: 100%
            margin: 0

    .info
        opacity: 0
        background: rgba(0, 0, 0, .8)
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        font-family: $heading
        text-align: center
        @include transition(all .3s ease-in-out)

        &:hover
            opacity: 1.0

        .title
            padding-top: 250px
            font-size: 1.5em
            color: white
            font-weight: normal
    
        .subtitle
            font-size: 1em
            padding: 10px 40px 0 40px
            color: #888

    .col-1
        width: 33%

    .col-2
        width: 66%

    .col-3
        width: 99%