/*Color palette*/
$link-hover: #0072bc
$subtitle: rgba(255,255,255,.7)
$grey-color: rgba(255,255,255,.3)
$info-color: rgba(255,255,255,.5)

/*Font Stacks*/
$heading: 'Abel', Arial, sans-serif
$paragraph: 'Marvel', Arial, sans-serif