/*Color palette*/
$nav-color: #191E22
$main-color: #303030
$accent-color: #E9E98D
$heading-color: white
$text-color: rgba(255,255,255,.7)
$grey-color: rgba(255,255,255,.3)
$info-color: rgba(255,255,255,.5)

/*Font Stacks*/
$heading: 'Abel', Arial, sans-serif
$paragraph: 'Marvel', Arial, sans-serif