.title
    padding: 0 0 em(10px) 0
    animation: fadeInLeft .3s ease-in

    h1
        font-size: em(26px)

        +large-phone
            font-size: em(30px)
            margin-bottom: em(20px)

        &:after
            display: none

    p
        font-size: em(16px)

        +large-phone
            font-size: em(18px)
            max-width: em(600px)

    .button
        font-size: em(14px)
        margin: em(10px) em(10px) 0 0

        +large-phone
            font-size: em(16px)
            margin-top: em(20px)
            margin-right: em(20px)



.project-info
    +outer-container
    margin-top: em(50px)

    +tablet
        margin-top: em(70px)
    
    

    ul
        +span-columns(6 of 12)
        padding: 0 em(20px) 0 0
        margin: 0 0 em(30px) 0
        list-style: none
        vertical-align: top

        +tablet
            +span-columns(3 of 12)

    .heading
        font-family: $section-heading
        font-size: em(16px)
        text-transform: uppercase
        color: $main
        margin-bottom: em(20px)

        +tablet
            font-size: em(18px)

    li
        font-family: $paragraph
        font-size: em(15px)
        margin: 5px 0

        +tablet
            font-size: em(17px)
    



.img-showcase
    margin: em(20px) 0
    position: relative

    img
        width: 100%

    .img-text

        h2
            font-family: $section-heading
            text-transform: uppercase
            opacity: .1
            font-size: em(30px)
            color: black
            line-height: em(20px)
            margin-bottom: 0

            +large-phone
                font-size: em(40px)

            +tablet
                font-size: em(50px)

            &:after
                display: none

        p
            font-size: em(16px)
            position: relative
            top: em(-15px)
            padding-left: em(20px)
            margin-top: 0

            +large-phone
                font-size: em(18px)
                top: em(-20px)
                padding-left: em(35px)
                max-width: em(600px)

            +tablet
                top: em(-22px)

            +large-tablet
                padding-left: em(55px)

.project-nav
    float: right
    font-family: $paragraph
    font-size: em(17px)
    font-weight: 700
    color: $font-gray
    margin: em(10px) 0

    +tablet
        font-size: em(20px)

    +large-tablet
        margin: em(30px) 0 em(15px) 0

    a
        color: $font-gray
        margin-left: em(10px)
        text-decoration: none
        display: inline-block
        
        &:not(:last-child)
            margin-right: em(10px)

        &:hover
            color: $main

            &:after
                width: 100%
                visibility: visible

        &:after
            visibility: hidden
            content: ""
            display: block
            width: 0
            height: 2px
            background-color: $main
            margin-top: em(5px)
            +transition(width, .3s, linear)


.project
    display: block
    text-decoration: none
    padding: em(20px) 0
    color: $font-gray
    +transition(all, .2s, ease)
    opacity: 0

    +large-phone
        padding: em(10px) 0

    +tablet
        max-width: em(700px)

    &:hover
        color: $main
    
    h3
        font-family: $heading
        font-size: em(24px)
        font-weight: normal
        color: inherit

        +large-phone
            font-size: em(28px)

    p
        font-family: $paragraph
        font-size: em(16px)
        color: inherit

        +large-phone
            font-size: em(18px)
