---
title: "SWORDS Redesign"
description: >
  I redesigned the SWORDS system used by my school to be more usable, more understandable, and provide greater functionality.
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>

    <!--CSS/JS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    {% include nav.html %}

    {% include footer.html %}
  </body>

</html>