<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
            {% include nav.html %}
            <div class="blog-page">
                {% include header.html %}
                
                <div class="content clearfix">
                    <div class="blog-post">
                        {{ content }}
                    </div>

                    <div class="page-nav">
                        {% if page.previous.url %}
                            <a href="{{ page.previous.url }}" class="prev">{{ page.previous.header-title }}</a>
                        {% endif %}

                        {% if page.next.url %}
                            <a href="{{ page.next.url }}" class="next">{{ page.next.header-title }}</a>
                        {% endif %}

                        {% include disqus.html %}
                    </div>
                </div>
            </div>

    </body>

</html>

