<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>
    
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    <!--CSS/JS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Lato:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/min/lazysizes.min.js"></script>
    <script async type="text/javascript" src="/js/script.js"></script>

    <!--Google Analytics-->
    {% include analytics.html %}
  </head>

  <body>
    {% include nav.html %}
    
    <div class="post">
      {{ content }}
    
      <div class="post-nav">
        <span>
          <a class="{% if page.previous.url %}prev{% else %} disabled{% endif %}" href="{{page.previous.url}}"> Previous</a>//
          <a class="{% if page.next.url %}next{% else %} disabled{% endif %}" href="{{page.next.url}}">Next</a>
        </span>
      </div>

        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'deeppatelportfolio';
            var disqus_identifier = "{{ page.url }}";

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}

    </div>


  </body>
</html>