<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    <!--CSS/JS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Lato:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/min/lazysizes.min.js"></script>
    <script async type="text/javascript" src="/js/script.js"></script>

    <!--Google Analytics-->
    {% include analytics.html %}
  </head>

  <body>
    {% include nav.html %}
    
    <div class="main-content wrap">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>